$font-family: Arial, sans-serif;

$font-size-normal: 16px;
$font-size-big: 18px;
$font-size-giant: 20px;

$font-weight-normal: 400;
$font-weight-big: 500;
$font-weight-bold: 600;

$line-height: 18px;

$image-size: 24px;

$grid-tiny: 5px;
$grid-small: 10px;
$grid-medium: 15px;
$grid-base: 20px;
$grid-giant: 25px;

$box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.35);
$box-shadow-around: 0px 0px 15px 0px rgba(34, 60, 80, 0.2);

$bp-xs: 768px;
$bp-sm: 960px;
$bp-md: 1280px;

$promobot-color: #208bcb;
$promobot-dark-color: #1d7ba8;
$promobot-black-color: #002b3a;
$white-color: #fcfbf9;
$light-gray-color: #d9d9d9;
$dark-gray: #8b8c8c;

$blue-border: 2px solid $promobot-color;

$border-radius-tiny: 3px;
$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-giant: 15px;
